<% comment.child_comments.each do |child| %>
  <ul>
      <li><%= child.user.username %>
        <br>
      <%= child.content %></li>
      <%= link_to "permalink", post_comment_url(@post, child) %>
      <% if current_user.id = child.user_id %>
        <%= button_to "Edit Comment", edit_comment_url(child), method: :get %>
        <%= button_to "Delete Comment", comment_url(child), method: :delete %>
      <% end %>
      <%= render 'comment', comment: child %>
    </li>
  </ul>
<% end %>
