<% path = post.persisted? ? post_url(post) : posts_url %>
<% method = post.persisted? ? :patch : :post  %>
<% action = post.persisted? ? "update post" : "submit"%>

<form action="<%= path %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label>
    Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>
    Sub-reddits:

    <% Sub.all.each do |sub| %>
      <label> <%= sub.title %>
        <input type="checkbox"
               name="post[sub_ids][]"
               value="<%= sub.id %>"
               <%= "checked" if @post.sub_ids.include?(sub.id) %> >
      </label>
    <% end %>
  </label>

  <label>
    Content:
    <textarea name="post[content]" rows="8" cols="40"><%= @post.content %></textarea>
  </label>

  <label>
    URL:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <input type="submit" value="<%= action %>">
</form>
