<h3> <%= @cmt.user.username %> </h3>

<%= @cmt.content %>

<form action="<%= post_comments_url %>" method="post">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @cmt.id %>">
  <%= auth_token %>

  <label>
    Comment:
    <textarea name="comment[content]" rows="8" cols="40"></textarea>
  </label>

  <input type="submit" value="Post Reply">
</form>
