<!DOCTYPE html>
<html>
<head>
  <title>Benchbnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCVMacF8EJVzQ_PGpunbiEUV0umFFiFUAY" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src=""></script>
</head>
<body>

<%= yield %>

</body>
</html>
